* {
   box-sizing: border-box;
}

/* "Montserrat", sans-serif */

ul {
   list-style: none;

   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
   margin: 0;
}

body {
   font-family: "Montserrat Alternates", sans-serif;
   color: #262626;
   font-weight: 500;
   font-style: normal;
   line-height: normal;
   font-size: 20px;
   margin: 0;
   padding: 0;
}

body.lock {
   overflow: hidden;
   height: 100vh;
}

.img-contain img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.burger {
   display: none;
   flex-wrap: wrap;
   gap: 4px;
   width: 29px;
   height: 20px;
   cursor: pointer;
   transition: all 0.3s;
}

.burger span {
   display: block;
   width: 100%;
   height: 3px;
   background-color: black;

   transition: all 0.3s;
   position: relative;
}
.burger :first-child,
.burger :last-child {
   margin-left: 9px;
   width: 25px;
}

.burger:hover span {
   background-color: #bd7048;
}

.burger.active span:first-child {
   transform: rotate(45deg);
   transition: 0.3s;
   top: 9px;
}

.burger.active span:nth-child(2) {
   opacity: 0;
   transition: 0.3s;
}

.burger.active span:last-child {
   transform: rotate(-45deg);
   transition: 0.3s;
   top: -7px;
}

.wrapper {
   max-width: 1206px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

.header {
   padding-top: 46px;
   padding-bottom: 40px;
   background: #fff;
   /* box-shadow: 4px 37px 0px rgba(0, 0, 0, 0.05); */
}

.header__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__menu ul {
   display: flex;
   gap: 45px;
}
.header__menu {
   margin-left: -37px;
}

.header__contacts {
   display: flex;
   gap: 15px;
   position: relative;
   top: 8px;
}

.header__contacts.header__contacts-active {
   display: none;
}

.header__info {
   display: flex;
   flex-direction: column;
   gap: 2px;
}

.header__logo {
   display: flex;
   flex-direction: column;
   gap: 2px;
   cursor: pointer;
   z-index: 1001;
}

.logo__text {
   color: #000;
   font-size: 15px;
   font-weight: 600;
}
.logo__text span {
   color: #bd7048;
}

.logo__text-under {
   color: #000;
   font-size: 10px;
   font-weight: 400;
   align-self: center;
}

.header__menu ul li a {
   color: rgba(0, 0, 0, 0.5);
   font-size: 15px;
   font-weight: 400;
   transition: color 0.3s;
}
.header__menu ul li a:hover {
   color: #bd7048;
}

/* .header__menu ul li {
   position: relative;
   transition: transform 0.3s;
}
.header__menu ul li:hover::after {
   content: "";
   position: absolute;
   right: 0;
   bottom: -10px;
   width: 31px;
   height: 1px;
   background: #bd7048;
   display: block;
} */

.header__menu ul li {
   position: relative;
}

.header__menu ul li::after {
   content: "";
   position: absolute;
   right: 0;
   bottom: -10px;
   width: 55%;
   height: 1px;
   background: #bd7048;
   display: block;
   transform: scaleX(0);
   transform-origin: right;
   transition: transform 0.3s, opacity 0.3s;
   opacity: 0;
}

.header__menu ul li:hover::after {
   transform: scaleX(1);
   opacity: 1;
}

.header__phone {
   width: 24px;
   height: 24px;
}

.img-contain img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.header__number {
   color: #3b3b3b;
   font-size: 15px;
   font-weight: 600;
   transition: color 0.3s;
}
.header__number:hover {
   color: #6d6c6c;
}

.header__hours {
   color: rgba(59, 59, 59, 0.5);
   font-size: 15px;
   align-self: center;
}

/* .intro {
   position: relative;
   overflow: hidden;
   margin-bottom: 150px;
   background: linear-gradient(
         0deg,
         rgba(104, 104, 104, 0.5) 0%,
         rgba(104, 104, 104, 0.5) 100%
      ),
      url(../img/intro/intro.png), lightgray 50% / cover no-repeat;
} */

.intro {
   position: relative;

   margin-bottom: 150px;
}

.intro__background {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(
         0deg,
         rgba(104, 104, 104, 0.5) 0%,
         rgba(104, 104, 104, 0.5) 100%
      ),
      lightgray 50%;
   background-size: cover;
   background-repeat: no-repeat;

   z-index: -1;
}

.intro__background img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

.intro__cart-box.second {
   display: none;
}

.intro__cart-logo svg {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.intro__cart-box.second:hover .intro__cart-logo svg * {
   stroke: white;
}

.intro__title {
   color: #fff;

   font-size: 40px;
   font-weight: 600;
   max-width: 846px;
   text-align: center;
}

.btn {
   border-radius: 100px;
   background: #bd7048;
   border: none;
   color: #fff;
   font-family: inherit;
   font-size: 15px;
   font-weight: 600;
   cursor: pointer;
   transition: background 0.3s;
   /* display: inline-block; */
}

.btn:hover {
   background: #8f4f2d;
}

.btn__intro {
   padding: 28px 51px;
}

.intro__container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 42px;
   padding-top: 164px;
   padding-bottom: 115px;
}

.intro__dot {
   width: 55px;
   /* height: 7px; */
   margin: 0 auto 23px;
}
.intro__dot img {
   width: 100%;
   /* height: 100%; */
   object-fit: contain;
}

.intro__icon {
   width: 39px;
   height: 39px;
}

.intro__wrapper {
   display: flex;
   justify-content: space-evenly;
   padding: 68px 0;
   border-radius: 50px;
   background: #fff;
   margin-bottom: -73px;
   position: relative;
   z-index: 1;
}

.intro__info {
   display: flex;
   gap: 23px;
   align-self: flex-start;
   position: relative;
}
.intro__info.first {
   left: -51px;
}
.intro__info.second {
   left: -36px;
}
.intro__info.third {
   right: 24px;
}

.intro__text {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.intro__top {
   font-size: 20px;
}
.intro__bottom {
   color: rgba(38, 38, 38, 0.7);
   font-size: 15px;
   max-width: 185px;
}
.intro__bottom-logo {
   margin-top: -1px;
}

/* .intro__cart {
   width: 467px;
   height: 119px;
   flex-shrink: 0;
   border-radius: 100px;
   background: #262626;
   box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.05);
   position: absolute;
   top: 45px;
   right: 0;
} */

.intro__cart {
   max-width: 347px;
   width: 100%;
   /*height: 119px; */
   max-width: 388px;
   padding-top: 31px;
   padding-bottom: 30px;
   padding-left: 53px;
   /* padding-right: 131px; */
   border-top-left-radius: 100px;
   border-bottom-left-radius: 100px;
   background: #262626;
   box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.05);
   display: flex;
   align-items: center;
   gap: 18px;
   position: absolute;
   top: 45px;
   right: 0;
   cursor: pointer;
   transition: background 0.3s;
}
.intro__cart:hover {
   background: #595959;
}

.intro__cart-box {
   padding: 15px 20px 20px 20px;
   border-radius: 50%;
   background: #fdfdfd;
   box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.05);
}

.intro__cart-logo {
   width: 21px;
   height: 24px;
}

.intro__cart-text {
   display: flex;
   flex-direction: column;
   gap: 1px;
}

.intro__cart-top {
   color: #fff;
   font-size: 15px;
   max-width: 84px;
}
.intro__cart-bottom {
   color: rgba(255, 255, 255, 0.7);
   font-size: 10px;
   text-align: center;
}

.intro__cart-wrap {
   display: flex;
}

.intro__swiper {
   position: absolute;
   top: 0;
   left: 0;
   overflow: hidden;
   width: 100%;
   height: 100%;

   background-size: cover;
   background-repeat: no-repeat;

   z-index: 0;
}

.swiper-pagination {
   margin-top: 130px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
   top: 359px;
}

.swiper-pagination-bullet-active {
   width: 33px;
}
.swiper-pagination-bullet {
   border-radius: 5px;
   height: 7px;
   background: white;
}

.intro__slide {
   height: calc(100% - 73px);
}

.how {
   padding-top: 49px;
   /* display: flex;
   gap: 77px; */
   position: relative;
}

.how__left {
   display: flex;
   flex-direction: column;
   gap: 70px;
   max-width: 497px;
}

.how__info {
   display: flex;
   align-items: center;
}

.how__text {
   display: flex;
   flex-direction: column;
   gap: 6px;
   max-width: 287px;
}

.how__text.first {
   margin-bottom: 3px;
}
.how__text.second {
   margin-bottom: -1px;
}
.how__text.third {
   max-width: 279px;
}

.how__top {
   margin-bottom: 7px;
}

.how__title {
   font-size: 40px;
   font-weight: 700;
}

.how__number {
   color: rgba(189, 112, 72, 0.2);
   width: 134px;
   font-size: 70px;

   font-weight: 700;
   display: flex;
   align-self: flex-start;
   position: relative;
   top: -14px;
}

.how__caption {
   font-size: 20px;
   font-weight: 500;
}

.how__description {
   color: rgba(38, 38, 38, 0.7);
   font-size: 15px;
   font-weight: 500;
}

.how__right {
   /* position: relative; */
   position: absolute;
   top: 52px;
   right: 0;
}

.how__first {
   width: 631px;
   height: 626px;
}
.how__first img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.how__second {
   width: 321px;
   height: 414px;
   position: absolute;
   top: 50%;
   left: -140px;
   transform: translateY(-50%);
   z-index: 1;
}
.how__second img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.services {
   margin-top: 205px;
   position: relative;
}

.services__title {
   color: #262626;
   text-align: center;
   font-size: 40px;
   font-weight: 700;
}

.services__left {
   display: flex;
   flex-direction: column;
   max-width: 557px;
   margin-top: 84px;
}

.services__caption {
   font-size: 30px;
   font-weight: 600;
   margin-bottom: 23px;
}

.services__deadline {
   color: rgba(38, 38, 38, 0.7);
   margin-bottom: 30px;
   font-size: 20px;
}
.services__deadline span {
   color: #262626;
   font-size: 20px;
}

.services__description {
   color: #000;
   font-family: Montserrat;
   font-size: 20px;
   font-weight: 400;
   max-width: 497px;
   margin-bottom: 44px;
}

.services__plan {
   margin-bottom: 94px;
   margin-left: 53px;
}

.services__plan ul li {
   list-style: disc;
   color: #262626;
   font-size: 20px;
}

.services__info {
   display: flex;
   justify-content: space-between;
}

.services__plan::before {
   content: "";
   position: absolute;
   height: 108px;
   border-left: 1px solid #9f3535;
   left: 174px;
}

.services__example {
   display: flex;
   gap: 9px;
   align-items: center;
   margin-right: 17px;
   margin-top: 9px;
}

.btn__services {
   padding: 28px 56px;
}

.services__pdf {
   width: 41px;
   height: 41px;
}
.services__pdf img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.services__ex {
   color: #bd7048;
   font-size: 15px;
   font-weight: 600;
}

.services__right {
   position: absolute;
   right: 0;
   bottom: -34px;
}

.services__first {
   width: 465px;
   height: 599px;
}

.services__second {
   position: absolute;
   top: 38%;
   transform: translateY(-50%);
   width: 521px;
   height: 376px;
   right: 170px;
}

.services__third {
   position: absolute;
   top: 54%;
   transform: translateY(-50%);
   right: 172px;
   width: 444px;
   height: 374px;
}

.services__wrapper.services__wrapper_flex {
   display: flex;
   justify-content: flex-end;
}

.services__right.services__right_left {
   left: 0;
   right: auto;
}

.services__third.services__third_left {
   left: 193px;
   width: 422px;
   height: 355px;
   top: 44%;
}

.services.services_margin {
   margin-top: 65px;
   margin-bottom: 65px;
}

.services__first.services__first_top {
   position: relative;
   top: -96px;
}

.services__second.services__second_top {
   top: 27%;
   left: 179px;
   width: 532px;
   height: 376px;
}

.services__example.services__example_top {
   margin-top: 20px;
   position: relative;
   left: 35px;
}

@media (max-width: 1270px) {
   .how__second {
      left: -20px;
   }
}

@media (max-width: 1199px) {
   .intro__cart {
      width: 30%;
   }

   .wrapper {
      max-width: 980px;
   }

   .intro__info.first,
   .intro__info.second,
   .intro__info.third {
      left: 0;
      right: 0;
   }

   .intro__title {
      font-size: 38px;
   }

   .how__number {
      width: 100px;
   }

   .how__title {
      font-size: 30px;
   }

   .intro__cart {
      width: 30%;
      padding-top: 26px;
      padding-bottom: 25px;
      padding-left: 46px;
   }
}

@media (max-width: 1140px) {
   .intro {
      margin-bottom: 100px;
   }
   .how__right {
      display: none;
   }

   .how {
      padding-top: 0;
      display: flex;
   }

   .how__left {
      gap: 60px;
   }

   .how__top {
      margin-bottom: 0;
   }
}

@media (max-width: 1010px) {
   .header__menu ul {
      gap: 25px;
   }
   .intro__title {
      font-size: 33px;
      max-width: 640px;
   }

   /* .intro {
   } */

   .intro__slide {
      height: 584px;
   }
   /*
   .intro__bottom {
      max-width: 172px;
   } */

   .intro__text {
      gap: 6px;
      /* width: 173px; */
      width: 150px;
   }

   /* .intro__wrapper {
      padding: 44px 0 5px;
   } */

   .intro__container {
      padding-bottom: 35px;
   }

   .intro__wrapper {
      flex-direction: column;
      gap: 40px;
      padding: 43px 0 0;
      max-width: 312px;
      margin: 0 auto;
      border-radius: 50px;
      position: relative;
      bottom: -25px;
   }

   .intro__info {
      gap: 16px;
      align-self: center;
      /* width: 100%; */
   }

   /* .intro__bottom {
      max-width: none;
   } */

   .intro__info.first {
      gap: 25px;
   }
   .intro__info.second {
      gap: 22px;
   }
   .intro__info.third {
      gap: 24px;
   }

   .swiper-pagination {
      display: none;
   }

   .intro__title {
      font-size: 30px;
   }

   .header__menu ul {
      gap: 20px;
   }

   .intro__cart {
      width: 33%;
      padding-top: 22px;
      padding-bottom: 21px;
      padding-left: 36px;
   }

   .intro__container {
      gap: 30px;
      padding-top: 160px;
   }
}
/*
@media (max-width: 797px) {
   .intro__title {
      font-size: 30px;
   }
}

@media (max-width: 769px) {
   .header__menu ul {
      gap: 20px;
   }

   .intro__cart {
      width: 33%;
      padding-top: 22px;
      padding-bottom: 21px;
      padding-left: 36px;
   }

   .intro__container {
      gap: 30px;
      padding-top: 160px;
   }
} */

@media (max-width: 760px) {
   .intro__title {
      font-size: 28px;
   }

   .burger {
      display: flex;
      top: 1px;
      position: relative;
      z-index: 1001;
   }

   .header__shell {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #fff;
      display: flex;
      flex-wrap: wrap;
      z-index: 1000;
      transform: translateX(-100%);
      transition: all 0.3s;
      padding: 80px 15px 24px;
      align-content: flex-start;
      order: 1;
   }

   .header__shell.active {
      transform: translateX(0%);
      transition: all 0.3s;
      flex-direction: column;
      gap: 18px;
   }

   .header__menu ul li::after {
      left: 0;
      width: 20%;
      transform: scaleX(0);
      transform-origin: left;
   }

   .header__menu {
      margin-left: 0;
      margin-top: 0;
   }

   .header__menu ul {
      flex-direction: column;
      gap: 15px;
   }
   .header__menu ul li a {
      color: #000;
   }

   .header {
      padding-top: 28px;
      padding-bottom: 32px;
   }

   /* \\\\\\\\\\\\\\ */
   .header__contacts {
      display: none;
   }
   .header__contacts.header__contacts-active {
      display: flex;
   }
   .header__hours,
   .header__number {
      font-size: 12px;
   }

   .header__wrapper {
      flex-direction: row-reverse;
   }

   .how__title {
      font-size: 30px;
      font-weight: 700;
   }

   .how__left {
      gap: 50px;
   }
}

@media (max-width: 700px) {
   .intro__info {
      gap: 10px;
   }

   .intro__wrapper {
      padding: 30px 0 5px;
   }

   .intro__title {
      font-size: 33px;
      max-width: 460px;
   }
}

@media (max-width: 670px) {
   .intro__wrapper {
      display: flex;
      justify-content: center;
   }

   .intro__title {
      font-size: 30px;
   }

   .intro__cart {
      padding-top: 16px;
      padding-bottom: 15px;
      top: 30px;
   }

   .intro__cart-box {
      padding: 10px 15px 15px 15px;
   }

   .intro__container {
      gap: 20px;
      padding-top: 140px;
   }

   /* .intro__bottom {
      max-width: 160px;
   } */
}

@media (max-width: 600px) {
   .header__hours,
   .header__number {
      font-size: 14px;
   }

   .intro__cart-top {
      font-size: 12px;
      max-width: 67px;
   }

   .intro__cart-box {
      padding: 5px 10px 10px 10px;
   }

   .how__title {
      text-align: center;
   }
}

@media (max-width: 511px) {
   .header__menu {
      margin-left: 0;
   }
   .intro__cart {
      width: 36%;

      padding-left: 18px;
   }

   .intro__title {
      max-width: 415px;
   }
}

@media (max-width: 426px) {
   .header__contacts {
      gap: 10px;

      top: 3px;
   }

   .header {
      padding-left: 18px;
      padding-right: 18px;
   }

   .intro__title {
      font-size: 25px;
      max-width: 291px;
   }

   .intro__dots {
      display: none;
   }

   .intro__cart {
      padding-top: 13px;
      padding-bottom: 12px;
      top: 25px;
   }

   .intro__cart {
      display: none;
   }

   .intro__cart-box.second {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 61px;
      height: 58px;
      position: absolute;
      top: 32px;
      right: 45px;
      cursor: pointer;
      transition: all 0.3s;
   }
   .intro__cart-box.second:hover {
      background: #262626;
   }

   .intro__container {
      gap: 86px;
      padding-top: 171px;
   }

   .intro__wrapper {
      padding-top: 43px;
      bottom: -50px;
      gap: 54px;
   }

   .intro__info.first {
      margin-bottom: 20px;
   }

   .how__title {
      font-size: 25px;
   }

   .how__text {
      margin-left: -80px;
   }

   .how__number {
      width: auto;
   }

   .how__text.first {
      margin-left: -71px;
   }

   .intro {
      margin-bottom: 128px;
   }

   .how__left {
      gap: 54px;
   }
}

@media (max-width: 376px) {
   .intro__title {
      font-size: 25px;
   }

   .intro__cart {
      width: 46%;
      padding-left: 15px;
      gap: 10px;
   }

   .how__left {
      padding-left: 14px;
   }
}

@media (max-width: 321px) {
   .intro__title {
      font-size: 24px;
      width: 94%;
   }
}
